data/Pola_att
data/Pola_jpg
data/pola_retrained.pb
data/pola_retrained_labels.txt
data/q_stripped_pola_retrained.pb
data/stripped_pola_retrained.pb
data/bottleneck
data/inc_v3
ios_camera/Pods
ios_camera/tf_camera_example.xcworkspace/xcuserdata
ios_camera/tf_camera_example.xcodeproj/xcuserdata
data/Pola_ai
android_camera/.gradle
android_camera/gradle
android_camera/gradleBuild
local.properties
